tml(lang='en')
  head
    title=title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
    script(src='../javascripts/scripts.js')
  body
    .card.text-center
      .card-header
        | Welcome
      .card-body
        img.card-img(src='/images/school.jpg', alt='School', height='65%')
        h5.card-title Welcome to SIS of ... High School
        p.card-text This is a Students Information System of ... High School
        a.btn.btn-primary(href='/login') Login
      .card-footer.text-muted
        | Copyright 2018
