extends layout

block content
  .container.card
    h1.text-center.pag=title
    .row
      .col-sm-12
        form.form-inline(action='/users/search', method='POST')
          input.form-control.col.pag(type='text', name='keyword', placeholder='Search..')
          select.custom-select.col.pag(name='order')
            option#order(value='asc') Ascending
            option#order(value='desc') Descending
          select.custom-select.col.pag(name='opt')
            option#opt(value='username') Username
            option#opt(value='user_email') Email
          button.btn.btn-info.col.pag(type='submit') Search
    form.card-body(action='/users/insert', method='POST')
      .form-group.row
        input#name(type='hidden', name='userID')
        label.col-sm-4(for='username') Username: 
        input#username.form-control.col-sm-8(type='text', name='username', value='', required='true')
      .form-group.row
        label.col-sm-4(for='password') Password: 
        input#password.form-control.col-sm-8(type='text', name='password', required='true', autofocus='')
      form-group.row
        label.col-sm-4(for='email') Email: 
        input#user_email.form-control.col-sm-8(type='email', name='user_email', value='', required='true')
      .form-group.row
        button.btn.btn-info.col.pagb(type='submit') Add User
